body {
        background: #dfdfdf;
    }
    h3{
        color:black;
    }

    .foto-principal{
        width: 200px;
    }  
    p{
        color:black;
    }

    .foto-principal{
        border:2px solid #ffffff; /*shorthand*/
        border-radius:50%;
        /*
        margin-top: 30px;
        margin-bottom:100%;
        margin-left: 500px;*/
        margin: 30px 30px 30px 30px;

        /*
        border-width:5px;
        border-style:solid;
        border-color:black;
        */



  }